.home-content {
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    width: 100%;
    height: 100%;
}

.bdiv {
    border: 1px solid black;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.top-div {
    position: relative;
    width: 100%;
    height: 100%;
}

.carousel-text-container {
    position: absolute;
    position: absolute;
    top: 30%;
    right: 10%;
    color: aliceblue;
    width: max-content;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.restaurant-name {
    font-size: xxx-large;
}

.restaurant-adress {
    font-size: large;
    text-align: end;
    margin-top: 15px;
}

.bottom-div {
    display: grid;
    grid-template-rows: max-content 1fr;
    place-content: center;
    top: 39px;
    bottom: 5%;
    position: relative;
    top: 10px;
}

.bottom-div-main {
    grid-gap: 4px;
    grid-template-rows: max-content 1fr;
    place-content: center;
    width: 100%;
    height: 122vh;
    background-color: whitesmoke;
}

.bottom-nav-div {
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
}

.nav-items {
    width: 35vw;
    text-align: center;
}

.menu-div {
    background-color: white;
}

.menu-div-inner {
    display: grid;
    grid-template-rows: max-content 1fr;
    padding-left: 10px;
    padding-right: 10px;
}

.menu-food-type {
    display: grid;
    grid-template-columns: repeat(7, max-content);
    grid-template-rows: 1fr;
    padding-top: 20px;
    border-bottom: 2px solid black;
    border-radius: 0px;
    background-color: white;
    grid-gap: 90px;
    place-content: center;
}

.food-sec-div {
    background-color: white;
}

.rs-carousel-toolbar {
    display: none;
}

.rs-carousel {
    height: 100%;
}

ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.home-nav {
    border-bottom: 0px;
}

.drawer-header-div {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    background-color: #f8f8f8;
    padding-left: 2%;
    padding-right: 2%;
    border: 1px solid grey;
}

.drawer-close-btn {
    padding-right: 24px;
    height: 36px;
    position: relative;
    top: 30%;
    border: 1px solid grey;
}

.drawer-header-text {
    text-align: center;
    padding-top: 1.5%;
}

.rs-drawer-header-close {
    display: none;
}

.rs-drawer-header {
    padding-left: 0px;
    position: relative;
    margin: 0px;
}

.drawer-header-text-div {
    display: grid;
    place-content: center;
}

.drawer-body-main-div {
    display: grid;
    grid-template-rows: 1fr max-content;
    position: absolute;
    left: 15%;
    top: 10%;
    right: 15%;
}

.drawer-body-top-div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 7vh;
    padding-left: 14%;
    padding-right: 14%;
}

.drawer-top-div-text {
    text-align: center;
    font-weight: bold;
    font-size: medium;
    place-self: center;
}

.shopping-item-main-div {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-area-gap: 3%;
    text-align: center;
    border-radius: 8px;
}

.shopping-item-credentials {
    display: grid;
    place-content: center;
    font-weight: 600;
    font-size: medium;
}

.shopping-item-img {
    height: 90%;
    width: 90%;
    padding: 5%;
}

.shopping-item-remove {
    display: grid;
    place-content: center;
}

.rs-input {
    text-align: center;
}

.rs-icon {
    place-self: center;
}

.shopping-item-input-div {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    place-content: center;
}

#plus-icon {
    color: green;
    place-self: center;
}

#minus-icon {
    color: red;
    place-self: center;
}

.rs-drawer-body {
    position: relative;
}

#shopping-list-add-remove-btn {
    position: absolute;
    top: -5px;
    right: -5.7px;
    display: block;
    width: 36px;
    height: 36px;
    padding: 8px 0;
    font-size: 2.8em;
    line-height: 0.528571;
}

.shopping-item-remove {
    place-self: center;
}

#shopping-item-remove-icon {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 36px;
    height: 36px;
    padding: 8px 0;
    font-size: 2.6em;
    line-height: 0.528571;
}

.drawer-sum-div {
    position: sticky;
    bottom: 0px;
    width: 100%;
    background-color: white;
    display: grid;
}

.drawer-divider {
    height: 2px;
    margin-top: 30px;
    z-index: 0;
    background-color: #509f54;
}

.sum-span {
    position: absolute;
    top: 2vh;
    z-index: 10;
    background-color: #595454;
    border-radius: 8px;
    padding: 1%;
    color: white;
    place-self: center;
}

.toggle-drawer-btn {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 100;
}

    .toggle-drawer-btn:hover {
        cursor: pointer;
    }

.open-closed-div {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: 1fr;
    grid-gap: 5px;
    place-content: end;
    margin-right: 4px;
}

.online-offline-icon {
    vertical-align: middle;
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 50%;
    animation: blink 1.5s linear infinite;
    place-self: center;
}

.online-offline-text {
    font-weight: bold;
    font-size: small;
}

.rs-badge-wrapper .rs-badge-content {
    top: 25%;
    left: 10%;
}

.rs-nav-item > a.rs-nav-item-content {
    background-color: whitesmoke;
}

.rs-nav.rs-nav-horizontal .rs-dropdown, .rs-nav.rs-nav-horizontal .rs-nav-item {
    width: 100%;
}

.rs-nav-tabs .rs-nav-item.rs-nav-item-active {
    width: 100%;
}

.rs-alert-container {
    right: 1% !important;
    top: 20% !important;
}

.rs-alert-container .rs-alert-info .rs-alert-item-content {
    background-color: #e8d954;
    color: #333030;
}

.rs-alert-container .rs-alert-info .rs-alert-item-close {
    color: #070707;
}

.rs-alert-container .rs-alert-info .rs-alert-item-content .rs-icon {
    color: #423c3c;
}

.rs-drawer-backdrop.in {
    opacity: 0.7 !important;
}

#menu-nav-btn {
    color: grey;
}

#resi-nav-btn {
    color: #4949b4;
}

.rs-drawer-content {
    height: 100vh;
}

::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 500px){
    .bottom-div {
        display: grid;
        grid-template-rows: max-content 1fr;
        place-content: center;
        bottom: 5%;
        place-self: center;
    }

    .carousel-text-container {
        position: absolute;
        top: 13%;
        right: 5%;
        color: aliceblue;
        width: max-content;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .restaurant-name {
        font-size: 2.4em;
    }

    .restaurant-adress {
        font-size: large;
        text-align: end;
        margin-top: 5px;
    }

    .shopping-item-credentials {
        font-size: smaller;
    }

    .drawer-body-main-div {
        display: grid;
        grid-template-rows: 1fr max-content;
        position: absolute;
        left: 0%;
        top: 0%;
        right: 0%;
    }

    #shopping-item-remove-icon {
        position: absolute;
        top: 4px;
        right: 0;
        display: block;
        width: 36px;
        height: 36px;
        padding: 8px 0;
        font-size: 1.5em;
        line-height: 0.528571;
    }

    #shopping-list-add-remove-btn {
        position: absolute;
        top: -2px;
        right: -6px;
        display: block;
        width: 36px;
        height: 36px;
        padding: 8px 0;
        font-size: 2.1em;
        line-height: 0.528571;
    }

    .drawer-header-icon-btn {
        border: 1px solid grey;
        padding: 12px;
        border-radius: 8px;
    }
}

@media screen and (max-width: 1200px) and (min-width: 500px) {
    .bottom-div {
        display: grid;
        position: relative;
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media screen and (max-width: 520px) and (min-width: 500px){
    .restaurant-adress {
        font-size: large;
        text-align: end;
        margin-top: 3px;
    }
}

@media screen and (max-width: 900px) and (min-width: 500px){

    .shopping-item-credentials {
        font-size: 1em;
    }

    .drawer-body-main-div {
        display: grid;
        grid-template-rows: 1fr max-content;
        position: absolute;
        left: 0%;
        top: 0%;
        right: 0%;
    }

    #shopping-item-remove-icon {
        position: absolute;
        top: 4px;
        right: 0;
        display: block;
        width: 36px;
        height: 36px;
        padding: 8px 0;
        font-size: 1.5em;
        line-height: 0.528571;
    }

    #shopping-list-add-remove-btn {
        position: absolute;
        top: -2px;
        right: -6px;
        display: block;
        width: 36px;
        height: 36px;
        padding: 8px 0;
        font-size: 2.1em;
        line-height: 0.528571;
    }

    .drawer-header-icon-btn {
        border: 1px solid grey;
        padding: 12px;
        border-radius: 8px;
    }
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}