.home-content {
    display: grid;
    grid-template-rows: max-content 1fr;
}

.home-content .bottom-div {
    display: grid;
    place-content: center;
}

.bdiv {
    border: 1px solid black;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.top-div {
    position: relative;
}

.carousel-text-container {
    position: absolute;
    position: absolute;
    top: 100px;
    right: 100px;
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.restaurant-name {
    font-size: xxx-large;
}

.restaurant-adress {
    font-size: large;
    text-align: end;
    margin-top: 15px;
}

.bottom-div {
    background-color: rgb(234, 236, 238);
    position: absolute;
    top: 50px;
    left: 16%;
}

.bottom-nav-div {
    background-color: rgb(255, 255, 255);
}

.nav-items {
    width: 35vw;
    text-align: center;
}

.home-content .bottom-div {
    display: grid;
    grid-template-rows: max-content 1fr;
}

.menu-div {
    background-color: white;
}

.menu-div-inner {
    display: grid;
    grid-template-rows: max-content 1fr;
    padding-left: 10px;
    padding-right: 10px;
}

.menu-food-type {
    display: grid;
    grid-template-columns: repeat(7, max-content);
    grid-template-rows: 1fr;
    padding-top: 20px;
    border-bottom: 2px solid black;
    border-radius: 0px;
    background-color: white;
    grid-gap: 90px;
    place-content: center;
}

.bottom-div-main {
    display: grid;
    place-content: center;
    position: relative;
}

.rs-carousel-toolbar {
    display: none;
}
