.login-content {
    /*background-image: url(./dust_scratches.png);*/
}

.login-content {
    display: grid;
    place-content: center;
}

.login-sec {
    display: grid;
    grid-template-rows: max-content 1fr max-content 1fr;
}

.signin-logo-div {
    display: grid;
    place-content: center;
}

.inp-sec {
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 1fr 1fr;
    text-align: right;
    margin-top: 20px;
}

.signin-inp {
    border-radius: 20px;
    text-align: right;
    border: 1px solid rgb(200, 172, 10);
    padding: 8px;
    width: 340px;
}

.action-sec {
    display: grid;
    grid-template-columns: max-content 1fr;
    position: relative;
}

.login-btn {
    text-align: center;
    border-radius: 30px;
    border: 0px;
    width: 70px;
    height: 40px;
    background-color: rgb(200, 172, 10);
    box-shadow: 0px 0px 4px 0px rgb(138 138 122);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    top: 30%;
}

    .login-btn:hover {
        background-color: #ada10f
    }

.forgot-pass-text {
    margin-right: 10px;
    text-align: right;
    color: rgb(200, 172, 10);
    position: absolute;
    top: 50%;
    right: 2%;
}

.forgot-pass-text:hover {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

.link-to-signup-div {
    text-align: right;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    margin-top: 9%;
}

.signup-link {
    color: rgb(200, 172, 10);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

    .signup-link:hover {
        color: black;
    }
