* {
    box-sizing: border-box
}

.menu-div {
    background-color: white;
}

.menu-div-inner {
    display: grid;
    grid-template-rows: max-content 1fr;
    padding-left: 10px;
    padding-right: 10px;
}

.menu-food-type {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, max-content) !important;
    padding: 2%;
    border-bottom: 2px solid black;
    border-radius: 0px;
    background-color: white;
    grid-gap: 5%;
    place-content: center;
}

.food-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1%;
    padding: 2%;
}

.food-item-panel {
    box-sizing: border-box;
    position: relative;
    display: grid;
    place-content: center;
    background-color: #f9faf6;
    z-index: 1;
    overflow: inherit;
}

    .food-item-panel:hover {
        background-color: #f8e9e9
    }

.food-item-info {
    display: grid;
    grid-template-columns: max-content max-content;
    padding-left: 3%;
}

.panel-image {
    display: grid;
    grid-template-rows: 1fr max-content;
    grid-gap: 5%;
    place-content: center;
}

.food-item-name {
    font-size: large;
    text-align: center;
}

.food-item-div {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 1fr max-content;
    padding: 4%;
}

.rs-panel-body {
    padding: 0px;
}

.food-item-price {
    padding-left: 14px !important;
    margin-left: 10%;
    border: 1px solid #c1a048;
    border-radius: 5px;
    background-color: #c1a048;
    color: white;
    width: 70px;
}

.food-item-divider {
    margin-bottom: 10px;
    margin-top: 20px
}

.food-name {
    text-align: center;
}

.ctg-element:hover {
    border-bottom: 1px solid black;
    border-radius: 0px;
}

.badge-main-div {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    position: absolute;
    z-index: 10;
    bottom: -3%;
    right: 2%;
}

.badge-plus-icon {
    background-color: #db1c1c;
    color: whitesmoke;
}

.badge-plus-icon:hover {
    color: #575757;
    background-color: #d51111;
}

.badge-quantity {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: #ffc107;
    padding: 1px;
    padding-right: 15px;
    align-self: center;
    height: 25px;
    width: 70px;
    position: absolute;
    right: 30%;
    text-align: center;
    font-weight: 600;
}

a {
    font-weight: 600;
}