* {
    box-sizing: border-box
}

.menu-div {
    background-color: white;
}

.menu-div-inner {
    display: grid;
    grid-template-rows: max-content 1fr;
    padding-left: 10px;
    padding-right: 10px;
}

.menu-food-type {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
    padding: 2%;
    border-bottom: 2px solid black;
    border-radius: 0px;
    background-color: white;
    grid-gap: 0% !important;
    place-content: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
}

.food-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1.5%;
    padding: 2%;
}

.food-item-panel {
    box-sizing: border-box;
    position: relative;
    display: grid;
    place-content: center;
    background-color: #f9faf6;
    z-index: 1;
    overflow: inherit;
    transition: 0.4s all ease-in-out;
}

    .food-item-panel:hover {
        transition: 0.4s all ease-in-out;
        background-color: #f8e9e9;
        cursor: pointer;
    }

.food-item-info {
    display: grid;
    grid-template-columns: max-content max-content;
    padding-left: 3%;
}

.panel-image {
    display: grid;
    grid-template-rows: 1fr max-content;
    grid-gap: 5%;
    place-content: center;
}

.food-item-name {
    font-size: large;
    text-align: center;
}

.food-item-div {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 1fr max-content;
    padding: 4%;
}

.rs-panel-body {
    padding: 0px;
}

.food-item-price {
    padding-left: 14px !important;
    margin-left: 10%;
    border: 1px solid #c1a048;
    border-radius: 5px;
    background-color: #c1a048;
    color: white;
    width: 70px;
}

.food-item-divider {
    margin-bottom: 10px;
    margin-top: 20px
}

.food-name {
    text-align: center;
    font-size: small;
    font-weight: bold;
}

.ctg-element:hover {
    border-bottom: 1px solid black;
    border-radius: 0px;
    cursor: pointer;
}

.badge-main-div {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    position: absolute;
    z-index: 10;
    bottom: -3%;
    right: 2%;
}

.badge-plus-icon {
    background-color: #db1c1c;
    color: whitesmoke;
}

.badge-plus-icon:hover {
    color: #575757;
    background-color: #d51111;
}

.badge-quantity {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #ffc107;
    padding: 1px;
    padding-right: 15px;
    align-self: center;
    height: 25px;
    width: 70px;
    position: absolute;
    right: 30%;
    text-align: center;
    font-weight: 600;
}

a {
    font-weight: 600;
}

.ctg-element {
    text-align: center;
    margin: auto;
}

.ctg-element-img {
    width: 30%;
}

.food-item-img {
    width: 100%;
}

.fade-appear {
    opacity: 0;
}

.fade-appear.fade-appear-active {
    opacity: 1;
    transition: opacity 1000ms linear;
}

.fade-enter {
    opacity: 0;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms linear
}

.fade-enter-done {
    opacity: 1;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 500ms linear;
}

.fade-exit-done {
    opacity: 0;
}

@media screen and (max-width: 500px){

    .food-section {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        grid-gap: 1%;
        padding: 2%;
    }

    .ctg-element-img {
        width: 55%;
    }

    .food-item-img {
        width: 40%;
    }

    .panel-image {
        text-align: -webkit-center;
    }
}